" must be first: `vim -u <file>` implies 'compatible', which disables <> key
" notation - every <C-x>, <CR>, <Esc> below would map as literal text
set nocompatible

set autoread
set ai
set backspace=eol,start,indent
set background=dark
set cmdheight=2
set encoding=utf8
set expandtab
set ffs=unix,dos,mac
set foldcolumn=1
set hid
set history=500
set hlsearch
set incsearch
set ignorecase
set langmenu=en
set lbr
set lazyredraw
set magic
set mat=2
set nobackup
set nowb
set noswapfile
set noerrorbells
set novisualbell
set ruler
set regexpengine=0
set smartcase
set showmatch
set showmode
set si
set so=7
set smarttab
set shiftwidth=2
set tm=500
set tabstop=2
set tw=500
set whichwrap+=<,>,h,l
set wrap
set wildmenu
set wildignore=*.o,*~,*.pyc
if has("win16") || has("win32")
  set wildignore+=.git\*,.hg\*,.svn\*
else
  set wildignore+=*/.git/*,*/.hg/*,*/.svn/*,*/.DS_Store
endif
try
  set switchbuf=useopen,usetab,newtab
  set stal=2
catch
endtry
try
  colorscheme slate
catch
endtry

syntax enable
filetype plugin on
filetype indent on
set laststatus=1

" Yank -> the client's clipboard; common/osc52.sh does the encoding/wrapping,
" this only decides *when*. Four honest conditions: the toggle, the event
" (exists('##...') - neovim lies to has('patch-')), $_HI_OSC52 (empty outside
" a session), and the unnamed register - "ay stays local, a delete a delete.
if $_HI_DISABLE_OSC52 != '1' && exists('##TextYankPost') && filereadable($_HI_OSC52)
  augroup hi_osc52
    autocmd!
    autocmd TextYankPost *
          \ if v:event.operator ==# 'y' && v:event.regname ==# '' |
          \   silent call system('sh ' . shellescape($_HI_OSC52),
          \                      join(v:event.regcontents, "\n")) |
          \ endif
  augroup END
endif

" Ctrl-X quits from any mode (overrides insert-mode completion prefix)
nnoremap <C-x> :qa!<CR>
inoremap <C-x> <Esc>:qa!<CR>
vnoremap <C-x> <Esc>:qa!<CR>
snoremap <C-x> <Esc>:qa!<CR>
onoremap <C-x> <Esc>:qa!<CR>
cnoremap <C-x> <C-c>:qa!<CR>
if exists(':tnoremap')
  tnoremap <C-x> <C-\><C-n>:qa!<CR>
endif
