pkgbase = say-hi
	pkgdesc = sshrc supercharged - your shell config, on every host you say hi to
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/ivylikethevine/say-hi
	arch = any
	license = MIT
	depends = bash
	depends = openssh
	optdepends = zsh: zsh support on the client
	optdepends = fish: fish support on the client
	optdepends = docker: container targets
	optdepends = podman: container targets
	optdepends = nomad: allocation targets
	optdepends = kubectl: pod targets
	source = https://github.com/ivylikethevine/say-hi/releases/download/v0.1.2/say-hi-0.1.2.tar.gz
	b2sums = 2c75e84f2e516bee1be531a53162bb0791c951d2d20b76ae1d4c650a89c4658142aa4400815bf8fb843e4af65222cf713ab0cc19b46a723ac4eb4765a5be13dd

pkgname = say-hi
